:root {
    --font-primary: 'Merriweather', sans-serif;
    --font-secondary: 'MerriweatherSans', serif;
}

/* Product */
.product.type-product:hover .qqv-btn {
    bottom: 10px;
}

.product.type-product {
    overflow: hidden;
}

@media screen and (max-width: 992px) {
    .product.type-product .qqv-btn {
        display: none;
    }
}

/* Button */
.qqv-btn {
    position: absolute;
    background-color: #fff;
    color: #000;
    border: none;
    bottom: -100px;
    left: 10px;
    right: 10px;
    padding: 10px;
    cursor: pointer;
    width: calc(100% - 20px);
    z-index: 10;
    font-size: 14px;
    line-height: 20px;
    font-weight: 700;
    font-family: var(--font-primary);
    transition: 0.3s ease;
}

.qqv-btn:hover {
    background-color: #330072;
    color: #fff;
}

.qqv-btn.is-loading {
    pointer-events: none;
    opacity: 0.7;
}

/* loader */
.qqv-loader {
    width: 16px;
    height: 16px;
    border: 2px solid #000;
    border-top: 2px solid transparent;
    border-radius: 50%;
    display: inline-block;
    animation: qqv-spin 0.6s linear infinite;
}

@keyframes qqv-spin {
    100% {
        transform: rotate(360deg);
    }
}

/* Modal */
#qqv-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    z-index: 9999;
    font-family: var(--font-primary);
}

.qqv-modal__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.68);
}

.qqv-modal__inner {
    margin-top: 20px;
    display: flex;
    gap: 32px;
    justify-content: space-between;
}

.qqv-modal__content {
    position: relative;
    max-width: 1228px;
    margin: 54px auto;
    background: #fff;
    overflow-y: auto;
    padding: 24px;
    z-index: 10;
    height: calc(100vh - 108px);
}

.qqv-modal__close {
    background: none;
    border: none;
    font-size: 16px;
    line-height: 20px;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 4px;
    text-transform: uppercase;
    font-family: var(--font-primary);
}

.qqv-modal__content-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.qqv-modal__content-link {
    display: flex;
    align-items: center;
    font-size: 16px;
    line-height: 20px;
    gap: 8px;
    color: #6D488F;
    font-family: var(--font-secondary);
}

.qqv-modal__content-link svg {
    width: 24px;
    height: 24px;
}

.qqv-modal__gallery {
    position: relative;
    max-width: 700px;
    height: 620px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #F2F5FA;
}

/* Product */
.qqv-product__title {
    margin-top: 12px;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 40px;
    line-height: 48px;
    font-family: var(--font-primary);
}

.qqv-product__sku {
    text-transform: uppercase;
    font-size: 16px;
    line-height: 20px;
    font-family: var(--font-primary);
}

.qqv-product__price {
    margin-top: 12px;
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
}

.qqv-product__stock {
    padding: 4px 12px;
    background-color: #F2F5FA;
    color: #000;
    text-transform: uppercase;
    font-size: 12px;
    line-height: 16px;
    display: flex;
    align-items: center;
    gap: 8px;
    border-radius: 20px;
}

.qqv-product__stock:before {
    content: '';
    width: 6px;
    height: 6px;
    border-radius: 50%;
    flex: none;
}

.qqv-product__stock.in-stock:before {
    background-color: #4CAF50;
}

.qqv-product__stock.last-stock:before {
    background-color: #FF7825;
}

.qqv-product__stock.sold-out-stock:before {
    background-color: #ED5252;
}

.qqv-product__details {
    max-width: 450px;
    width: 100%;
}

.qqv-product__details-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.qqv-product__cart {
    display: flex;
    align-items: center;
    margin-top: 16px;
    gap: 16px;
}

.qqv-product__additional {
    margin-top: 24px;
    text-transform: uppercase;
    font-size: 16px;
    line-height: 20px;
}

/* Attribute */
.qqv-attribute {
    margin-top: 16px;
}

.qqv-attribute:first-child {
    margin-top: 62px;
}

.qqv-attribute__title {
    text-transform: uppercase;
    font-size: 14px;
    line-height: 20px;
    font-weight: 700;
}

.qqv-attribute__options {
    display: flex;
    align-items: center;
    margin-top: 4px;
}

.qqv-attribute__options:not(.qqv-attribute__options--color) {
    display: flex;
}

.qqv-option:not(.qqv-option--color) {
    padding: 8px;
    font-size: 14px;
    line-height: 20px;
    text-transform: uppercase;
    text-align: center;
    border: 1px solid #DFE3E9;
    transition: 0.3s ease;
}

.qqv-option:not(.qqv-option--color).is-active {
    background-color: #330072;
    border-color: #330072;
    color: #fff;
}

.qqv-attribute[data-attribute="pa_size"] .qqv-option {
    width: 100%;
}

.qqv-option--color {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    border: 1px solid #DFE3E9;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
    position: relative;
    padding: 4px;
    transition: 0.3s ease;
}

.qqv-option--color.is-active {
    border-color: #330072;
}

.qqv-option--color span {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

/* Quantity */
.qqv-quantity {
    display: flex;
    align-items: center;
    gap: 8px;
}

.qqv-quantity button {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #E6D9F2;
    flex: none;
}

.qqv-quantity button svg {
    width: 20px;
    height: 20px;
}

.qqv-quantity input {
    border: 1px solid #DFE3E9;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    font-size: 14px;
    flex: none;
    padding: 0;
    margin: 0;
    -moz-appearance: textfield;
    font-family: var(--font-secondary);
}

.qqv-quantity input::-webkit-outer-spin-button,
.qqv-quantity input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* qqv-add-to-cart */
.qqv-add-to-cart {
    display: flex !important;
    align-items: center;
    justify-content: space-between;
    font-size: 14px !important;
    line-height: 20px !important;
    padding: 4px 4px 4px 20px !important;
    border-radius: 30px !important;
    background-color: #330072 !important;
    width: 100% !important;
    color: #fff !important;
    transition: 0.3s ease !important;
    font-family: var(--font-secondary) !important;
}

.qqv-add-to-cart[disabled] {
    background-color: #A9A9A9 !important;
    cursor: not-allowed !important;
    opacity: 0.7 !important;
}

.qqv-add-to-cart span {
    width: 36px;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    border-radius: 50%;
}

.qqv-add-to-cart svg {
    width: 16px;
    height: 16px;
}

/* Swiper */
.qqv-swiper {
    width: 70%;
}

.qqv-swiper__arrow {
    position: absolute;
    bottom: 20px;
    right: 20px;
    transform: translateY(-50%);
    background: #fff;
    border: none;
    width: 52px;
    height: 52px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    z-index: 10;
    border-radius: 50%;
    box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.08);
}

.qqv-swiper__arrow.qqv-swiper__prev {
    right: auto;
    left: 20px;
}

.qqv-swiper__arrow svg {
    width: 24px;
    height: 24px;
}

/* Accordion */
.qqv-accordion__header {
    width: 100%;
    background: none;
    border: none;
    padding: 14px 0;
    font-size: 16px;
    cursor: pointer;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    font-family: var(--font-primary);
}

.qqv-accordion__header svg {
    width: 16px;
    height: 16px;
}

.qqv-accordion__content {
    display: none;
    padding-bottom: 15px;
    font-size: 16px;
    line-height: 25px;
    font-weight: 300;
    color: #464955;
    font-family: var(--font-secondary);
}

.qqv-accordion__item {
    border-bottom: 0.5px solid #DFE3E9;
}